body {
    background-color: #1b1b1b
}

button {
    border: 0;
    background-size: cover;
    cursor: pointer;
}

ul {
    margin: 0;
}

*:disabled {
    cursor: not-allowed;
    opacity: .75;
}

.ui-button {
    width: fit-content(200px);
    font-size: 20px;
    color: #eefcfd !important;
    font-family: Georgia;
    border: 3px solid #a18a6f;
    padding: 4px 13px;
    border-radius: 5px !important;
    font-weight: normal;
    text-shadow: 1px -2px 2px #2f768e, -2px -1px 2px #2f768e, -1px 2px 2px #03131f, 1px 2px 2px #03131f, 0px -2px 2px #2f768e, -1px -2px 1px #2f768e, -1px 2px 1px #03131f, 1px 2px 2px #03131f;
    background: linear-gradient(to bottom, #85bccc, #255b76, #33a6d1);
    box-shadow: inset 0 0 2px 1px #0c0b0b, inset 0 6px 6px 1px #cefeff, inset 0 -6px 7px 0px #62effe, 1px 4px 4px #443e38;
}

#controls {
    position: absolute;
    left: 1000px;
    font-size: 24px;
    display: flex;
    flex-direction: column;

    button:active {
        background: linear-gradient(to bottom, #041622, #08425a, #6598a8);
        box-shadow: inset 0 0 2px 1px #0c0b0b, inset 0 6px 6px 1px #03141b, inset 15px 4px 9px -12px #3083a5, inset -15px 4px 9px -12px #3083a5, 1px 4px 4px #443e38;
    }

    textarea {
        width: 257px;
        height: 617px;
        background-color:#1b1b1b;
        color: #ec9c79;
    }
}

#filters {
    position: absolute;
    top: 510px;
    left: 530px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;

    >div {
        display: flex;
        align-items: center;
        gap: 5px;

        span:not(.spacer) {
            height: fit-content;
            font-size: 22px;
            width: 90px;
        }
    }

    button {
        padding: 1px;
        border: 1px solid #a18a6f;
        >img {
            width: 27px;
        }
    }
    button[data-filter-enabled="false"] {
        box-shadow: inset 0 0 2px 1px #0c0b0b, inset 0 6px 6px 1px #344c4d, inset 0 -6px 7px 0px #0f2022, 1px 4px 4px #443e38;
    }
}

.team-container {
    position: relative;
    left: 10px;
    width: 504px;
    height: 300px;
    background: linear-gradient(to bottom, #4391A7, #173033);
    box-shadow: inset 0 0 2px 3px #e5ffff, inset 0 0 6px 5px #59eaff, 1px 3px 4px #77776f
}

.skill-box {
    width: 190px;
    padding: 4px;
    background-color: #001E28;
    position: absolute;
    bottom: 12px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    min-height: 82px
}

.skill-line {
    width: 90%;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 255, 255, 0), #3E7879, rgba(0, 255, 255, 0));
    position: absolute;
    left: 5%
}

.char-background {
    background: linear-gradient(to bottom, #093D4D, #001E28);
    border: solid 1px #356C79;
    width: 100%;
    height: 100%;
    position: absolute
}

.skill {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    background-color: transparent;

    >img {
        width: 25px;
        height: 25px;
    }
}

.skill-text {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.team-summon {
    position: absolute;
    bottom: 21px;
    left: 13px;
    display: flex;
    gap: 8px;

    >button {
        position: relative;
        width: 135px;
        height: 77px;
        background-image: url("assets/empty-weapon.png");
    }
}

#weapon-grid {
    background-image: url("assets/weapons-grid-background.png");
    background-size: 523px;
    position: relative;
    top: -5px;
    width: 523px;
    height: 391px;
}

.w-grid-main {
    background-image: url("assets/w-main-border.png");
    position: absolute;
    top: 15px;
    left: 15px;
    width: 138px;
    height: 305px;

    >button {
        width: 110px;
        height: 231px;
        position: relative;
        top: 52px;
        left: 13.5px;
        background-image: url('assets/empty-char.jpg');
    }
}

.w-grid-sub {
    position: absolute;
    top: 23px;
    left: 160px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 3px;
}

.w-grid-sub .w {
    display: flex;
    flex-direction: column;
    gap: 10px;

    >button {
        position: relative;
        width: 100px;
        height: 63px;
        background-image: url("assets/empty-weapon.png");
    }
}

.w-skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;

    >img {
        height: 100%;
    }
}

.team-members {
    position: absolute;
    top: 18px;
    display: flex;
    justify-content: space-evenly;
    gap: 4px;
    padding: 10px 6px 10px 6px;
    align-items: center;
    background: linear-gradient(to bottom, #093D4D, #001E28);
    border: solid 1px #356C79;

    >button.grid-input {
        width: 72px;
        height: 150px;
        position: relative;
        background-image: url('assets/empty-char.jpg');
    }
}

.uncap-toggle {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color:transparent;
    background-image: url("assets/Icon_Blue_Star_Full.png");
}
.uncap-toggle[data-toggled="false"] {
    background-image: url("assets/Icon_Blue_Star.png");
}
.uncap-select {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color:transparent;
    background-image: url("assets/Icon_Transcend_Star_5.png");
}

.summon-grid {
    background-image: url("assets/summon-grid-background.png");
    background-size: 470px 509px;
    width: 470px;
    height: 509px;
    position: absolute;
    top: 3px;
    left: 521px;

    .main-summon {
        position: absolute;
        top: 58px;
        left: 23px;

        >button {
            position: relative;
            background-image: url("assets/empty-char.jpg");
            height: 245px;
            width: 137px;
        }
    }

    .callable-summons {
        position: relative;
        left: 182px;
        top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 72px;
        width:fit-content;
    }

    .sub-summons {
        position: relative;
        left: 182px;
        top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-column-gap: 8px;
        width:fit-content;
    }

    div:not(.main-summon)>button {
        width: 130px;
        height: 98px;
        position: relative;
        background-image: url("assets/empty-summon.jpg");
    }
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 10;
    display: none;
    overflow: scroll;
    max-height: 400px;
}

.dropdown input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 5px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.buttons-container button {
    padding: 10px;
}

li.active {
    background-color: #d3d3d3;
}